/* App.css */

.app{
  background-color: #4682b4;
  color: white;
  height: 100vh;
  z-index: 0;
}

.header{
    font-size: 2rem;
    font-weight: 900;
    height: 8vh;
    /* border-bottom: 1px solid white; */
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: 92vh;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row{
    display: flex;
    height: 20vh;
}

.cell{
   width: 8vw;
   /* border: 1px solid white; */
   color: #fcc200;
   font-size: 5rem;
   background-color: #003153;
   border: 5px solid #003153;
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
   cursor: pointer;
   border-radius: 5px;
   /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
   box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0,0,0,0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.15),
                inset 15px 15px 15px rgba(0,0,0,0.1);
}

/* .yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
} */

/* .Reset_button{
    height: 10vh;
    width: 30vw;
    font-size: 2rem;
    background-color: blueviolet;
    color: white;
} */

  .playerIndication {
    /* position: absolute; */
    height: 2px;
    width: 100%;
    /* left: 0px; */
    /* bottom: -10px; */
    background-color: #ffd700;
    /* animation: underlineAnimation 1s alternate; */
  }
  
  @keyframes underlineAnimationLeftToRight {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .palyer{
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 100%;
  }

  .scoreCard{
    background-color: #ffd700;
    color: black;
    width: 18%;
    height:80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    padding-bottom: 2px;
  }

  .winningCell {
    background-color: #ffd700;
    color: black;
    border: 5px solid #ffd700;
    box-shadow: -5px -5px 5px rgba(0,0,0, 0.2),
                15px 15px 15px rgba(255,255,255,0.1),
                inset -5px -5px 5px rgba(0,0,0, 0.15),
                inset 15px 15px 15px rgba(255,255,255,0.1);
  }

  .noMatchingCell{
    background-color: #a32638;
    color: rgb(0, 0, 0);
    border: 5px solid #a32638;
  }

  .Game_button, .Play_again_btn, .Reset_board_btn{
    background-color: transparent;
    padding: 5px;
    color: black;
    font-weight: bold;
    border: 2px solid #003153;
    cursor: pointer;
    border-radius: 5px;
   }

   .Selected_button{
    background-color: #003153;
    color: #fcc200;
   }

   .Game_button:hover, .Play_again_btn:hover, .Reset_board_btn:hover {
    background-color: #003153;
    color: #fcc200;
   }

   .Game_button:active, .Play_again_btn:active, .Reset_board_btn:active {
    background-color: #003053c4;
    color: #fcc200;
   }